{% extends "base.html" %}

{% block title %}bookmark_form.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
    <div id="content">
        <h1>Bookmark Create/Update - {{ user }}</h1>

        <form action="." method="post">
            {% csrf_token %}
            {% if form.errors %}
                <p class="errornote">Wrong! Please correct the error(s) below.</p>
            {% endif %}

            <p>This is a creation or update form for your bookmark.</p>
            <fieldset class="aligned">
                <div class="form-row">
                    {{ form.title.label_tag }} {{ form.title }}
                </div>
                <div class="form-row">
                    {{ form.url.label_tag }} {{ form.url }}
                </div>
            </fieldset>

            <div class="submit-row">
                <input type="submit" value="Submit"/>
            </div>

            <script type="text/javascript">document.getElementById('id_title').focus();</script>
        </form>
    </div>
{% endblock %}