{% extends "base.html" %}

{% block title %}bookmark_change_list.html{% endblock %}

{% block content %}
    <div id="content">
        <h1>Bookmark Change - {{ user }}</h1>

        <table class="change-list">
            <tr>
                <th>Title</th>
                <th>Url</th>
                <th>Owner</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            {% for item in object_list %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.url }}</td>
                    <td>{{ item.owner }}</td>
                    <td><a href="{% url 'bookmark:update' item.id %}">Update</a></td>
                    <td><a href="{% url 'bookmark:delete' item.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}