{% extends "base.html" %}

{% block title %}logged_out.html{% endblock %}

{% block content %}
    <div id="content">
        <h1>Logged out</h1>
        <p>Thank you for spending your quality time with this web site today.</p>
        <p><a href="{% url 'login' %}">Log in again</a></p>
    </div>
{% endblock %}