{% extends "base.html" %}

{% block title %}password_change_done.html{% endblock %}

{% block content %}
    <div id="content">
        <h1>{{ title }}</h1>
        <p>Your password was changed</p>
    </div>
{% endblock %}