{% extends "base.html" %}

{% block title %}register_done.html{% endblock %}

{% block content %}
    <div id="content">
        <h1>Registration Complete Successfully</h1>
        <p>Thank you registering</p>
        <p><a href="{% url 'login' %}">Log in again</a></p>
    </div>
{% endblock %}