/* album_list.html */
div.album_list {
    margin:20px 50px;
}

div.album_list_photo {
    float: left;
    width: 150px;
    height: 180px;
}

/* album_detail.html */
div.album_detail {
    margin:30px 10px;
}

div.album_detail_photo {
    float: left;
    width: 220px;
    height: 220px;
}

div.album_detail_photo > li {
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
}

/* photo_detail.html */
table.photo_detail {
    margin: 30px 50px 0 50px;
    border: 1px solid #ccc;
    padding: 20px 20px;
}

table.photo-detail td {
    width: 50%;
}

table.photo_detail ul li {
    font-weight: bold;
}

table.photo_detail ul p {
    font-style: italic;
}

/* common */
img.thumbnail {
    border: 3px solid #ccc;
}

div.clear_float {
    clear:both;
}