div#content_home {
    position: absolute;
    top: 80px;
    left: 110px;
    right: 110px;
    background: mediumseagreen;
}

div#homeimg {
    background: #5471dd;
    padding: 5px 0 1px 0;
    text-align: center;
}