{% extends "base_polls.html" %}

{% block title %}polls_index.html{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="index">
        {% block sidebar %}{{ block.super }}{% endblock sidebar %}

        <h2>Polls Question List</h2>
        {% if latest_question_list %}
            <ul>
                {% for question in latest_question_list %}
                    <li><a href="/polls/{{ question.id }}">{{ question.question_text }}</a></li>
                {% endfor %}
            </ul>

        {% else %}
            <p>No polls are available.</p>
        {% endif %}

    </div>
{% endblock %}