{% extends "base_polls.html" %}

{% block title %}polls_results.html{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="index">
        {% block sidebar %}{{ block.super }}{% endblock sidebar %}

        <h1>{{ question.question_text }}</h1>

        <ul>
            {% for choice in question.choice_set.all %}
                <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
            {% endfor %}
        </ul>

        <a href="{% url 'polls:detail' question.id %}">Vote again?</a>

    </div>
{% endblock %}
