{% extends "base.html" %}

{% block title %}post_change_list.html{% endblock %}

{% block content %}
    <div id="content">
        <h1>Post Change - {{ user }}</h1>

        <table class="change-list">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            {% for item in object_list %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.owner }}</td>
                    <td><a href="{% url 'blog:update' item.slug %}">Update</a></td>
                    <td><a href="{% url 'blog:delete' item.slug %}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}