{% extends "base.html" %}

{% block title %}album_form.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
    <div id="content">
        <h1>Album-Photo InlineFromSet</h1>

        {% if form.is_multipart or formset.is_multipart %}
            <form enctype="multipart/form-data" method="post" action=".">
        {% else %}
            <form method="post" action=".">
        {% endif %}
        {% csrf_token %}

        {% if form.errors %}
            <p class="errornote">Wrong! Please correct the error(s) below.</p>
        {% endif %}
        {% if formset.errors %}
            <p class="errornote">Wrong! Please correct the FORMSET error(s) below.</p>
        {% endif %}

        <h4>Create or Update Album contents.</h4>
        <fieldset class="aligned">
            <div class="form-row">
                {{ form.name.label_tag }} {{ form.name }}
            </div>
            <div class="form-row">
                {{ form.description.label_tag }} {{ form.description }}
            </div>
        </fieldset>

        <h4>Create or Update Photo contents.</h4>
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.id }}
            <fieldset class="aligned">
                <div class="form-row">
                    {{ form.image.label_tag }} {{ form.image }}
                </div>
                <div class="form-row">
                    {{ form.title.label_tag }} {{ form.title }}
                </div>
                <div class="form-row">
                    {{ form.description.label_tag }} {{ form.description }}
                </div>
            </fieldset>
        {% endfor %}

        <div class="submit-row">
            <input type="submit" value="Submit"/>
        </div>

        <script type="text/javascript">document.getElementById('id_name').focus();</script>
        </form>
    </div>
{% endblock %}