{% extends "base.html" %}

{% block title %}album_detail.html{% endblock title %}

{% load staticfiles %}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock extrastyle %}

{% block content %}
    <div id="content">
        <h2 style="display:inline">{{ object.name }}</h2>
        &emsp;<strong><em>{{ object.description }}</em></strong>

        <hr/>

        <div class="album_detail">
            {% for photo in object.photo_set.all %}
                <div class="album_detail_photo">
                    <a href="{{ photo.get_absolute_url }}">
                        <img class="thumbnail" src="{{ photo.image.thumb_url }}"/>
                    </a>
                    <li>{{ photo.title }}</li>
                    <li>{{ photo.upload_date|date:"Y-m-d" }}</li>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock content %}