{% extends "base.html" %}

{% block title %}photo_detail.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock %}

{% block content %}
    <div id="content">
        <h2>{{ object.title }}</h2>

        <table class="photo_detail">
            <tr>
                <td>
                    <a href="{{ object.image.url }}">
                        <img style="max-width:100%" src="{{ object.image.url }}"/>
                    </a>
                </td>

                <td>
                    <ul>
                        <li>Photo Description</li>
                        {% if object.description %}<p>{{ object.description|linebreaks }}</p>
                        {% else %}<p>(blank)</p>
                        {% endif %}
                        <p>{{ object.upload_date }}</p>
                        <li>Album Name</li>
                        <p><a href="{% url 'photo:album_detail' object.album.id %}">{{ object.album.name }}</a></p>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}