{% extends "base.html" %}

{% block title %}photo_confirm_delete.html{% endblock %}

{% block content %}
    <div id="content">
        <h1>Photo Delete</h1>

        <form action="." method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <input type="submit" value="Confirm" />
        </form>
    </div>
{% endblock %}
