<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Django Web Programming{% endblock %}</title>

    <meta http-equiv="cache-control" content="no-cache" />

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />

</head>

<body>

    <div id="header">
        <h2 class="maintitle">Easy&amp;Fast Django Web Programming</h2>
        {% if user.is_active %}
            <h4 class="welcome">Welcome,
                <strong>{% firstof user.get_short_name user.get_username %}</strong>
                <a href="{% url 'password_change' %}">Change password</a>
                <a href="{% url 'logout' %}">Logout</a>
            </h4>
        {% else %}
            <h4 class="welcome">Welcome, Anonymous
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            </h4>
        {% endif %}
    </div>

    <div id="menu">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'polls:index' %}">Polls</a></li>
        <li><a href="{% url 'books:index' %}">Books</a></li>
        <li><a href="{% url 'bookmark:index' %}">Bookmark</a></li>
        <li><a href="{% url 'blog:index' %}">Blog</a></li>
        <li><a href="{% url 'photo:index' %}">Photo</a></li>

        <li><a href="#">Add&bigtriangledown;</a>
            <ul>
                <li><a href="#">Polls</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="{% url 'bookmark:add' %}">Bookmark</a></li>
                <li><a href="{% url 'blog:add' %}">Blog</a></li>
                <li><a href="{% url 'photo:album_add' %}">Album</a></li>
                <li><a href="{% url 'photo:photo_add' %}">Photo</a></li>
            </ul>
        </li>
        <li><a href="#">Change&bigtriangledown;</a>
            <ul>
                <li><a href="#">Polls</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="{% url 'bookmark:change' %}">Bookmark</a></li>
                <li><a href="{% url 'blog:change' %}">Blog</a></li>
                <li><a href="{% url 'photo:album_change' %}">Album</a></li>
                <li><a href="{% url 'photo:photo_change' %}">Photo</a></li>
            </ul>
        </li>

        <li><a href="{% url 'blog:post_archive' %}">Archive</a></li>
        <li><a href="{% url 'blog:search' %}">Search</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
    </div>

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

</body>

</html>