{%  extends "base.html" %}

{% block title %}home.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{% block content %}
    <div id="content_home">
        <div id="homeimg">
            <a href="/"><img src="{% static 'img/gate.jpg' %}" style="height:256px;" /></a>
            <h4 style="margin: 0;">Karl's Homepage</h4>
        </div>

        <hr style="margin: 5px 0;">

        <h2>Select Application</h2>

        <table id=applist">
            <tr>
            <td><b><i><a href="{% url 'polls:index' %}">Polls</a></i></b></td>
            <td>polls</td>
            <td class="Edit"><i><a href="#">Add</a></i></td>
            <td class="Edit"><i><a href="#">Change</a></i></td>
            </tr>

            <tr>
            <td><b><i><a href="{% url 'books:index' %}">Books</a></i></b></td>
            <td>Books</td>
            <td class="Edit"><i><a href="#">Add</a></i></td>
            <td class="Edit"><i><a href="#">Change</a></i></td>
            </tr>

            <tr>
            <td><b><i><a href="{% url 'bookmark:index' %}">Bookmark</a></i></b></td>
            <td>You can store your own bookmarks by Bookmark application.It's also possible to update or delete your bookmarks.</td>
            <td class="Edit"><i><a href="{% url 'bookmark:add' %}">Add</a></i></td>
            <td class="Edit"><i><a href="{% url 'bookmark:change' %}">Change</a></i></td>
            </tr>

            <tr>
            <td><b><i><a href="{% url 'blog:index' %}">Blog</a></i></b></td>
            <td>This application makes it possible to log daily events or write your own interests such as hobbies, techniques, etc.</td>
            <td class="Edit"><i><a href="{% url 'blog:add' %}">Add</a></i></td>
            <td class="Edit"><i><a href="{% url 'blog:change' %}">Change</a></i></td>
            </tr>

            <tr>
            <td><b><i><a href="{% url 'photo:index' %}">Photo</a></i></b></td>
            <td>You can upload your own photos through this application. If you delete an album, all photos within it will be dleted.</td>
            <td class="Edit"><i><a href="{% url 'photo:album_add' %}">Add</a></i></td>
            <td class="Edit"><i><a href="{% url 'photo:album_change' %}">Change</a></i></td>
            </tr>
        </table>
    </div>
{% endblock content %}

{% block footer %}
<div id="footer">
    &copy; Karl 2018
</div>
{% endblock footer %}
