{% extends "base_books.html" %}

{% block content %}
    {{ block.super }}

    <div id="author_detail">
    {% block sidebar %}{{ block.super }}{% endblock sidebar %}
    <h1>{{ object.name }}</h1>
    <p>{{ object.salutation }}</p>
    <li>Email: {{ object.email }}</li>
    </div>
{% endblock content %}