{% extends "base_books.html" %}

{% block content %}
    {{ block.super }}
    <div id="author_list">
    {% block sidebar %}{{ block.super }}{% endblock sidebar %}
    <h2>Authors List</h2>
    <ul>
        {% for author in object_list %}
            <li><a href="{% url 'books:author_detail' author.id %}">{{ author.name }}</a></li>
        {% endfor %}
    </ul>
    </div>
{% endblock content %}
