{% extends "base_books.html" %}

{% block content %}

    {{ block.super }}

    <div id="book_list">
    {% block sidebar %}{{ block.super }}{% endblock sidebar %}

    <h2>Books List</h2>
    <ul>
        {% for book in object_list %}
            <li><a href="{% url 'books:book_detail' book.id %}">{{ book.title }}</a></li>
        {% endfor %}
    </ul>
    </div>
{% endblock content %}
