{% extends "base_books.html" %}

{% block content %}
    {{ block.super }}
    <div id="book_detail">
        {% block sidebar %}{{ block.super }}{% endblock sidebar %}
        <h1>{{ object.title }}</h1>
        <br>
        <li> Author:
            {% for author in object.authors.all %}
                {{ author }}
                {% if not forloop.last %},{% else %}{% endif %}
            {% endfor %}
        </li>
        <li>Publisher: {{ object.publisher }}</li>
        <li>Publication date: {{ object.publication_date }}</li>
    </div>
{% endblock content %}