{% extends "base_books.html" %}

{% block content %}

    {{ block.super }}

    <div id="index">
    {% block sidebar %}{{ block.super }}{% endblock sidebar %}

    <h2>Books Management System</h2>
    <ul>
        {% for modelname in object_list %}
            {% with "books:"|add:modelname|lower|add:"_list" as urlvar %}
                <li><a href="{% url urlvar %}">{{ modelname }}</a></li>
            {% endwith %}
        {% endfor %}
    </ul>
    </div>
{% endblock content %}