{% extends "base_books.html" %}

{% block content %}
    {{ block.super }}
    <div id="publisher_detail">
        {% block sidebar %}{{ block.super }}{% endblock sidebar %}
        <h1>{{ object.name }}</h1>
        <p>{{ object.website }}</p>
        <li>Address: {{ object.address }}</li>
    </div>
{% endblock content %}
