{% extends "base.html" %}

<title>{% block title %}Polls Application Site{% endblock title %}</title>

{% block content %}
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="/">Project Home</a></li>
            <li><a href="/books">Polls Home</a></li>
        </ul>
    {% endblock sidebar %}
    <br>
</div>
{% endblock content %}